<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <h1>
    Recipe form
  </h1>
  <form *ngIf="myForm" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" formControlName="name">
      <small *ngIf="!myForm.controls.name.valid" class="text-danger">
        Name is required (minimum 1 character).
      </small>
    </div>

    <div class="form-group">
      <label>Description</label>
      <input class="form-control" type="text" formControlName="desc">
    </div>

    <div class="form-group">
      <label>Photo URL</label>
      <input class="form-control" type="text" formControlName="photoURL">
    </div>

    <div class="form-group">
      <app-upload-form (onUpload)="onUpload($event)"></app-upload-form>
    </div>

    <div formArrayName="ingredients">

      <div class="well well-lg" *ngFor="let ingredient of myForm.controls['ingredients'].controls; let i=index">
        <!-- ingredient header, show remove button when more than one ingredient available -->
        <div class="form-group">
          <h3>
            Ingredient {{i + 1}}
          </h3>
          <p>
            <button type="button" class="btn btn-danger btn-sm" (click)="removeIngredient(i)">
              Remove ingredient
            </button>
          </p>
        </div>

        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i">
          <div class="form-group">
            <label>Name: </label>
            <input class="form-control" type="text" formControlName="name">
            <small [hidden]="myForm.controls['ingredients'].controls[i].controls.name.valid">
              Name is required
            </small>
          </div>
          <div class="form-group">
            <label>Quantity: </label>
            <input class="form-control" type="number" formControlName="quantity">
            <small [hidden]="myForm.controls['ingredients'].controls[i].controls.quantity.valid">
              Quantity cannot be less than zero
            </small>
          </div>
          <div class="form-group">
            <label>Unit: </label>
            <input class="form-control" type="text" formControlName="unit">
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-success btn-md" (click)="addIngredient()">
          Add ingredient
        </button>
      </div>
    </div>

    <div formArrayName="instructions">

      <div class="well well-lg" *ngFor="let instruction of myForm.controls['instructions'].controls; let i=index">
        <div class="form-group">
          <h3>
            Instruction {{i + 1}}
          </h3>
          <p>
            <button type="button" class="btn btn-danger btn-sm" (click)="removeInstruction(i)">
              Remove instruction
            </button>
          </p>
        </div>

        <div [formGroupName]="i">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" formControlName="name">
            <small [hidden]="myForm.controls['instructions'].controls[i].controls.name.valid">
              Name is required
            </small>
          </div>
          <div class="form-group">
            <label>Time (in minutes)</label>
            <input class="form-control" type="number" formControlName="time">
            <small [hidden]="myForm.controls['instructions'].controls[i].controls.time.valid">
              Time cannot be less than zero
            </small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-success btn-md" (click)="addInstruction()">
          Add instruction
        </button>
      </div>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" formControlName="restricted">
      <label class="form-check-label">Private</label>
    </div>

    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!myForm.valid">Submit</button>
  </form>
</div>
