.recipes {
  padding: 0;
}

.recipe {
  height: 300px;
  margin: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset -2px -100px 80px -22px rgba(0,0,0,0.78);
  -moz-box-shadow: inset -2px -100px 80px -22px rgba(0,0,0,0.78);
  box-shadow: inset -2px -100px 80px -22px rgba(0,0,0,0.78);
}

.recipe>div {
  position: relative;
  top: 225px;
  left: 10px;
}

.recipe>div .recipe-time {
  color: lightgrey;
  margin: 0;
  height: 20px;
}

.recipe>div .recipe-name {
  font-size: 25px;
  margin: 0;
}

.recipe>div .recipe-name a {
  color: white;
}

.public {
  border: solid 4px #ffbb00;
}
