<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
  <h2>Latest recipes</h2>
  <div class="container col-xs-12">
    <div class="recipes col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let recipe of recipes">
      <div class="recipe" [ngStyle]="{background: 'url(' + recipe.photoURL + ')',
            backgroundRepeat: 'no-repeat', backgroundPosition: 'center'}"
            [ngClass]="{'public': !recipe.restricted}">
        <div>
          <p class="recipe-time">
            {{ recipeService.getTime(recipe) }}
          </p>
          <p class="recipe-name">
            <a routerLink="recipe/{{recipe._id}}" routerLinkActive="active">{{ recipe.name }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
