<div *ngIf="currentUpload">
  <div class="progress">
    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
  </div>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div>
<label>
  <input type="file" class="form-control" (change)="detectFiles($event)">
</label>
<button class="btn btn-sm btn-primary"
  [disabled]="!selectedFiles"
  (click)="upload()">
  Upload
</button>
<button class="btn btn-sm btn-primary" (click)="copy()">
  Copy as photo URL
</button>
