.table-responsive {
  border: none;
}

ol li {
  line-height: 200%;
  margin-bottom: 20px;
  padding-left: .7em;
}

td {
  padding-bottom: 10px;
}

h3 {
  font-weight: bold;
}

button.btn.btn-default.btn-md {
  padding: 12px 48px 12px 48px;
  font-size: 120%;
  color: #ffbb00;
  border-color: #ffbb00;
  background-color: transparent;
  margin-top: 5px;
}

.btn-default:hover {
  background-color: transparent;
}
