<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div *ngIf="recipe">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <div class="recipe" [ngStyle]="{background: 'url(' + recipe.photoURL + ')',
         backgroundRepeat: 'no-repeat', backgroundPosition: 'center'}">
          <div>
            <p class="time">
              {{ recipeService.getTime(recipe) }}
            </p>
            <p class="name">
              {{ recipe.name }}
            </p>
          </div>
        </div>
        <div>
          {{ recipe.desc }}
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <button class="btn btn-default btn-md" *ngIf="authService.userId()===recipe.owner" (click)="edit()">Edit</button>
        <h3>
          Ingredients
        </h3>
        <table class="table-responsive">
          <tr *ngFor="let ingredient of recipe.ingredients">
            <td class="col-xs-5">{{ ingredient.quantity }} {{ ingredient.unit }}</td>
            <td class="col-xs-7">{{ ingredient.name }}</td>
          </tr>
        </table>
        <ul>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <h3>
          Preparing
        </h3>
        <ol>
          <li *ngFor="let instruction of recipe.instructions">
            {{ instruction.name }}
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
